---
import Layout from '../layouts/Layout.astro';
import ChessGame from '../components/ChessGame.tsx';
---

<Layout>
  <div class="min-h-screen bg-background">
    <div class="container mx-auto px-4 py-8">
      <ChessGame client:load />
    </div>
  </div>
</Layout>