---
import Layout from '../layouts/Layout.astro';
import JungleGame from '../components/JungleGame';
---

<Layout title='Jungle Chess (鬥獸棋) - Procyon'>
  <main class='min-h-screen'>
    <div class='h-0.5 w-full bg-jungle'></div>
    <div class='mx-auto max-w-6xl px-4 py-8'>
      <JungleGame client:load />
    </div>
  </main>
</Layout>
